header{
	background-color: #0020F4;
	width: 1920px;
	height: 388px;
}

ul{
	list-style-type: none;
}
.buttons{
	color: #FFFFFF;
	text-transform: uppercase;
}

.contact-button{
	color: #171717;
	background-color: #FFFFFF;
	border-radius: 28px;
	text-transform: uppercase;
}